<mat-toolbar class="mat-elevation-z15" color="primary">
  <button
    class="hamburger"
    (click)="sideNavToggle()"
    aria-label="Toggle sidenav"
    mat-icon-button
    type="button">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <span>TODO-DAO</span>
  <div *ngIf="url === '/'" class="search">
    <mat-form-field appearance="outline" color="accent">
      <mat-label>search</mat-label>
      <input matInput placeholder="search" [(ngModel)]="search" (ngModelChange)="toSearchResults(search)">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>
</mat-toolbar>
