mat-list {
  padding: 1vh 10%;
}

.mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
  height: 64px;
}

mat-checkbox {
  padding: 0 30px 0 15px;
}

.item-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.left{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.priority {
  height: 100%;
  width: 20px;
  margin-left: -16px;
}

.task-wrap {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.update-icon:hover, .add-icon:hover {
  color: #69F1AE;
}

.delete-icon:hover {
  color: #fe346e;
}

.deadline {
  font-weight: lighter;
  font-size: .8rem;
  background: none;
  border: none;
  outline: none;
  color: #69F1AE;
  text-align: left;
  padding: 0;
  cursor: pointer;
}

.deadlineCompleted {
  font-weight: lighter;
  font-size: .8rem;
  background: none;
  border: none;
  outline: none;
  color: lightgrey;
  text-align: left;
  padding: 0;
  cursor: default;
  text-decoration: line-through;
}

.add-icon {
  font-weight: lighter;
  margin: 1vh 30px;
}

.add-task {
  margin-left: 10px;
}

.completed {
  text-decoration: line-through;
  color: #9f9f9f;
}


