<h1 mat-dialog-title>Add new task</h1>
<div mat-dialog-content>
    <mat-form-field appearance="outline">
      <mat-label>task</mat-label>
      <input matInput placeholder="task" [(ngModel)]="data.task">
      <mat-icon matSuffix>
        <div
          [ngStyle]="color"
          class="priority">
        </div>
      </mat-icon>
    </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Not now</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>

 <mat-list class="horizontal">
   <mat-list-item *ngFor="let pr of priorities">
     <button
       (click)="changePriority(pr, true)"
       [ngStyle]="priorityColor(pr, false)"
       mat-icon-button>
       <mat-icon>flag</mat-icon>
     </button>
   </mat-list-item>
 </mat-list>
  <mat-form-field class="datepicker" (change)="setDeadline()">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="myPicker" [(ngModel)]="date" (dateChange)="setDeadline()">
    <mat-datepicker-toggle matSuffix [for]="myPicker"></mat-datepicker-toggle>
    <mat-datepicker #myPicker></mat-datepicker>
  </mat-form-field>

</div>

