<h1 mat-dialog-title>Add new task</h1>
<div mat-dialog-content>
  <mat-form-field appearance="outline">
    <mat-label>task</mat-label>
    <input [(ngModel)]="data.task" [value]="data.task" matInput>
    <mat-icon matSuffix>
      <div
        [ngStyle]="color"
        class="priority">
      </div>
    </mat-icon>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button (click)="onNoClick()" mat-button>Not now</button>
  <button [mat-dialog-close]="data" cdkFocusInitial mat-button>Ok</button>

  <mat-list class="horizontal">
    <mat-list-item *ngFor="let pr of priorities">
      <button
        (click)="changePriority(pr, true, true)"
        [ngStyle]="priorityColor(pr, false, true)"
        mat-icon-button>
        <mat-icon>flag</mat-icon>
      </button>
    </mat-list-item>
  </mat-list>
  <mat-form-field class="datepicker">
    <mat-label>Choose a date</mat-label>
    <input (dateChange)="setDeadline()" [formControl]="serializedDate" [matDatepicker]="myPicker" matInput>
    <mat-datepicker-toggle [for]="myPicker" matSuffix></mat-datepicker-toggle>
    <mat-datepicker #myPicker></mat-datepicker>
  </mat-form-field>

</div>

