<mat-list>
  <h2>{{pageTitle}}</h2>
  <mat-divider></mat-divider>
  <mat-list-item *ngFor="let task of isCurrent ? filteredTodos : completedTodos">
    <div class="left">
      <div
        [ngStyle]="priorityColor(task.priority, true, isCurrent)"
        class="priority"></div>
      <mat-checkbox
        (change)="completedTask(task.id, task)"
        [(ngModel)]="isCompleted"
        [class.mat-checkbox-checked]="isCompleted || task.completed ">

      </mat-checkbox>
      <div class="task-wrap">
        <span [ngClass]="{completed: task.completed || isCompleted}" class="task">{{task.task}}</span>
        <button
          [ngClass]="{'deadline': isCurrent, 'deadlineCompleted': !isCurrent}"
          class="deadline">
          {{task.deadline * 1000 | date: 'MMM-dd'}}
        </button>
      </div>
    </div>
    <button
      *ngIf="isCurrent"
      (click)="openToUpdate(task.id)"
      class="update-icon"
      mat-icon-button>
      <mat-icon>edit</mat-icon>
    </button>
    <button
      (click)="deleteTask(task.id)"
      class="delete-icon"
      mat-icon-button>
      <mat-icon>delete_outline</mat-icon>
    </button>
    <mat-divider></mat-divider>
  </mat-list-item>
  <button *ngIf="isCurrent"
          (click)="openToCreate()"
          class="add-icon"
          mat-icon-button
  >
    <mat-icon>add</mat-icon>
    <span class="add-task">new task</span>
  </button>
</mat-list>

