<div class="container">
  <div class="title">
    <h1>{{url === '/login' ? 'Sign In' : 'Sign Up'}}</h1>
    <div class="icons">
      <fa-icon (click)="googleSignIn()" [icon]="google"></fa-icon>
      <fa-icon (click)="facebookSignIn()" [icon]="facebook"></fa-icon>
    </div>
  </div>
  <mat-form-field appearance="outline" color="accent">
    <mat-label>Enter your email</mat-label>
    <input
      [(ngModel)]="email"
      class="example-right-align"
      matInput required type="email">
    <mat-icon matSuffix>email</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="outline" color="accent">
    <mat-label>Enter your password</mat-label>
    <mat-icon
      (click)="hide = !hide"
      class="pass"
      matSuffix>{{hide ? 'visibility_off' : 'visibility'}}
    </mat-icon>
    <input
      [(ngModel)]="password"
      [type]="hide ? 'password' : 'text'"
      matInput required>
  </mat-form-field>

  <mat-form-field
    *ngIf="url === '/register'"
    appearance="outline"
    color="accent">
    <mat-label>Repeat password</mat-label>
    <mat-icon
      (click)="hide = !hide"
      class="pass"
      matSuffix>{{hide ? 'visibility_off' : 'visibility'}}
    </mat-icon>
    <input
      [(ngModel)]="password2"
      [type]="hide ? 'password' : 'text'"
      matInput required>
  </mat-form-field>
  <button (click)="sign()" color="primary" mat-raised-button
          type="submit">{{url === '/login' ? 'Sign In' : 'Sign Up'}}</button>
</div>
